body {
	background-color: #000; /*Fondo de la pagina*/
}

.flex-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background: #003333;
	margin: 50px 50px;
	padding: 20px;
	border: 14px solid #000;
	outline: 3px solid #1c7;

}

.form {
	min-width: 400px;
	flex: 1;
	text-align: center;
	padding: 30px;
	order: 5;
}

.form__input {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	border: none;
	border-bottom: 3px solid #1c7;
	background: transparent;
	color: #fff; /* Color letra*/
}

.form__input:focus {
		background: linear-gradient(to bottom, transparent, #333);
		outline: none;
		border-bottom: 3px solid #5f9;
}

.form textarea {
	min-height: 150px; /* Ecribe el mensaje*/
	resize: none;
}

.form-img {
	flex: 1;
	display: flex;
	padding: 10px;
	min-width: 300px;
	max-width: 400px;
	order: 2;	
}

.form-img div {
	padding: 10px;

}

.img-container {
	margin: auto;
	/*border-radius: 50%;*/
	/*background-color: #fff;*/
}

.img-container div {
	background-color: #003333; /* color fondo imagen*/
	border-radius: 50%;
	text-align: center;
	padding: 40px;
}

.form-img img {
	width: 70%;
	margin: auto;
	
	/*border-radius: 60%;*/
	/*background-color: #fff;*/
	
}

.form input[type="submit"]:hover {
	background-color: #072;
	border-bottom: none;
	padding: 12px;
}

.form input[type="submit"]:focus {
	background: #094;
}

.form input[type="submit"]:active {
	background: linear-gradient(to bottom, #072, #054);
}